page-register {

}

.phone_input{
    input {
        display: block;
        width: 80%;
        border: 1px solid #eee;
        height: 3.6rem;
        margin: 2rem auto;
        text-indent: .5rem;
    }

}

.reg_btn {
    width: 80%;
    display: block;
    margin: 0 auto;

}