<ion-header>
  <!-- <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar> -->
  <ion-toolbar>
    <ion-searchbar (tap)="onTap()">

    </ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-slides pager autoplay="3000">
    <ion-slide>
      <img src="assets/imgs/slide01.png" />
    </ion-slide>

    <ion-slide style="background-color: green">
      <img src="assets/imgs/slide02.png" />
    </ion-slide>

    <ion-slide>
      <img src="assets/imgs/slide03.jpg" />
    </ion-slide>
    <ion-slide style="background-color: green">
      <!-- <img src="assets/imgs/slide03.jpg"/> -->
      <h2>Slide 3</h2>
    </ion-slide>
  </ion-slides>

  <!-- Top picks -->
  <div class="home_title">
    Popular
  </div>
  <div class="slide_product">
    <!-- scroll popular products  -->

    <ion-scroll scrollX="true">
      <ul class="clearfix" [ngStyle]="{'width': popListWidth}" >
        <li *ngFor="let item of popList">
          <img src="{{item.pic}}" />
          <p> {{item.title}} </p>
        </li>
      </ul>
    </ion-scroll>


  </div>

  <!-- You might like -->
  <div class="home_title">
    You might like
  </div>
  <div class="index_product">
    <ion-row>
      <ion-col col-4 *ngFor="let item of popList">
          <img src={{item.pic}} />
          <p> {{item.title}}</p>

      </ion-col>
    </ion-row>
  </div>



</ion-content>