page-registerpassword {

}

.pwd_info{
    p{
        text-align: center;
    }
    input{
        display: block;
        width: 80%;
        height: 3.6rem;
        border: 1px solid #eeeeee;
        margin: 0 auto;
    }
}

.pwd_done{
    display: block;
    width: 80%;
    margin: 2rem auto;
}